{% extends 'website/pattern.html' %}

{% block page_name %}
    Авторизация
{% endblock %}
{% block current_auth %} imMnMnCurrent{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

    <span class="auth">
        <p style="margin: 5pt 15pt">Логин: <input type="text" name="photo_author" maxlength="50" required="" id="id_photo_author"><br></p>
        <p style="margin: 5pt 15pt">Пароль: <input type="text" name="photo_group" maxlength="20" required="" id="id_photo_group"><br></p>
        <button class="button_default">Войти</button>
    </span>

    </form>
{% endblock %}