{% extends 'website/pattern.html' %}
{% load static %}

{% block page_name %}
    FAQ
{% endblock %}

{% block content %}
    <h1>FAQ</h1>
    <p class="faq-ask">1.1) Как я могу определить растение по фото?</p>
    <p class="faq-answer">Перейдите на <a href="/">главную</a> страницу, в соответствующем поле нажмите на кнопку для выбора файла, после чего нажмине на кнопку "Проверить!"</p>

    <p class="faq-ask">1.2) Какую фотографию необходимо загружать?</p>
    <p class="faq-answer">Необходимо загружать фото листка растения.</p>

    <p class="faq-ask">1.3) Как необходимо фотографировать лист?</p>
    <p class="faq-answer">Для точного определения нужно держать лист вертикально, чтоб корень листка был к низу изображения.</p>

    <p class="faq-ask">1.4) Почему мой лист не определяется?</p>
    <p class="faq-answer">Проверьте качество изображения, лист должен находится в фокусе, хорошо освещён и расположен вертикально, корнем к низу. Также, возможно, вашего вида растения нет в базе данных.</p>

    <p class="faq-ask">1.5) Почему система не принимает мое изображение?</p>
    <p class="faq-answer">Убедитесь, что Ваш файл - не приложение или иной исполняемый файл. Возможно файл повреждён, попробуйте открыть его и просмотреть. Если проблема не решена - <a href="/contacts">свяжитесь с нами.</a></p>

    <p class="faq-ask">2.1) Зачем мне выгружать фото?</p>
    <p class="faq-answer">Вы можете помочь проекту, если у вас есть качестенная фотография листка растения и вы знаете его вид.</p>

    <p class="faq-ask">2.2) Какие требования к изображению?</p>
    <p class="faq-answer">Смотреть п1.3-1.5</p>

    <p class="faq-ask">2.3) Моё изображение будет принято?</p>
    <p class="faq-answer">Изображение пройдёт модерацию и в случае успешной проверки - будет добавлено в базу данных.</p>

    <p class="faq-ask">3.1) Как мне войти/зарегистрироваться?</p>
    <p class="faq-answer">На текущем этапе вход доступен только модераторам и администратору.</p>

    <p class="faq-ask">3.2) Как стать модератором?</p>
    <p class="faq-answer">Сейчас набор закрыт, в будущем заявки будут приниматься через форму <a href="/contacts">обратной связи.</a></p>

    <p class="faq-ask">4.1) Молу ли я принять участие в проекте?</p>
    <p class="faq-answer">Связитесь с нами. <a href="/contacts" title="Страница обратной связи">Тут</a> или <a href="mailto:leafspectator@gmail.com" title="Написать электронное письмо">тут.</a></p>

    <p class="faq-ask">5.1) Куда попадёт моё письмо?</p>
    <p class="faq-answer">Все обращения хранятся у нас на сервере и рассматриваются в порядке очереди.</p>
{% endblock %}