{% extends 'website/pattern.html' %}
{% load static %}

{% block page_name %}
    Главная
{% endblock %}
{% block current_main %} imMnMnCurrent{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="H1">Мы попробуем опознать ваше растение.</h1>
        <h2 class="H2">Загрузите фото в форму ниже.<br/>Загружайте фотографию всего листа растения, держа лист ветрикально и в фокусе.</h2>
        {% if message %}
            <div class="msg">
                <p>{{ message }}</p>
            </div>
        {% endif %}
        <div class="upload">Загрузить{{ form.photo_file }}</div>

{#        <div class="upload">#}
{#            <label for="file">Select</label><input class="upload" type="file" name="photo_file" accept="image/*" required="" id="id_photo_file">#}
{#        </div>#}
{#    <input class="input-file" type="file" name="photo_file" accept="image/*" required="" id="id_photo_file">#}
{#    <label for="file">Select</label>#}
{#    <label for="file">Select</label>#}

        <button class="button_default">Проверить!</button>
{#        <input type="submit" class="button_default" value="Button2">#}

    </form>
{% endblock %}