{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Mechanoid" />
    <meta name="description" content="Analyse and detect leaf of plants" />
    <meta name="keywords" content="Leaf, spectator, nature, plants"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://leafspec.com/" />
    <meta property="og:title" content="LeafSpectator" />
    <meta property="og:site_name" content="Leaf spectator" />
    <link rel="stylesheet" type="text/css" href="{% static '/style/main.css' %}"/>
    <link rel="shortcut icon" href="{% static '/style/image/favicon.png' %}" type="image/x-icon"/>
    <title>{% block page_name %}{% endblock %} - LeafSpectator</title>
</head>
<body>
    {% csrf_token %}
    <div id="page-wrap">
{#    <header class="header-block">#}
    <header>
{#        <div class="main-title">Leaf Spectator</div>#}
        <div class="menu-button-block">
            <a href="/" class="menu-button {% block current_main %}{% endblock %}" title="Главная страница">Главная</a>
            <a href="/upload" class="menu-button {% block current_upload %}{% endblock %}" title="Страница для отправки изображения нам">Выгрузить фото</a>
            <a href="/auth" class="menu-button {% block current_auth %}{% endblock %}" title="Страница авторизации">Авторизация</a>
            <a href="/about" class="menu-button {% block current_about %}{% endblock %}" title="Информация про этот сервис">О проекте</a>
            <a href="/contacts" class="menu-button {% block current_contacts %}{% endblock %}" title="Свяжитесь с нами">Контакты</a><br/>
        </div>
        <div class="main-title-block">
            <a href="/" class="main-title">Leaf Spectator</a>
            <text class="main-title-info">Для тех, кто хочет найти растение</text>
        </div>
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    </div>

    <footer>
        <div class="footer-block">
            <span>
                <a href="mailto:leafspectator@gmail.com" class="footer-link-style" title="Написать нам на электронный ящик">Напишите нам!</a>
                <a href="#" class="footer-link-style" title="Приложение находятся в разработке...">Мобильное приложение</a>
                <a href="/FAQ" class="footer-link-style" title="Часто задаваемые вопросы">FAQ</a>
            </span>
            <text class="copyright" title="Механоид&copy; Все права защищены. 2020">Mechanoid&copy; All rights reserved. 2020</text>
        </div>
    </footer>

</body>
</html>