{% extends 'website/pattern.html' %}

{% block page_name %}
    Выгрузить фото
{% endblock %}
{% block current_upload %} imMnMnCurrent{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
{#        {% for o in form %}#}
{#            {{ o }}#}
{#        {% endfor %}#}
{#        <div style="margin: 10px">#}
            <p style="margin: 5pt 15pt">Имя автора: {{ form.photo_author }}<br/></p>
            <p style="margin: 5pt 15pt">Вид растения: {{ form.photo_group }}<br/></p>
            <p style="margin: 5pt 15pt">{{ form.photo_file }}</p>
{#        </div>#}

{#        {{ form.as_p }}#}
        <div id="imObjectForm_1_buttonswrap">
            <button class="button_default">Отправить</button>
{#            <br/><br/><button type="submit">Отправить</button>#}
        </div>
    </form>
{% endblock %}