{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Mechanoid" />
    <meta name="description" content="Analyse and detect leaf of plants" />
    <meta name="keywords" content="Leaf, spectator, nature, plants"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://leafspec.com/" />
    <meta property="og:title" content="LeafSpectator" />
    <meta property="og:site_name" content="Leaf spectator" />
    <link rel="stylesheet" type="text/css" href="{% static '/new/style/main.css' %}"/>
    <link rel="shortcut icon" href="{% static '/new/style/image/favicon.png' %}" type="image/x-icon"/>
    <title>{% block pagename %}{% endblock %} - LeafSpectator</title>
</head>
<body>
    <div id="page-wrap">
{#    <header class="header-block">#}
    <header>
{#        <div class="main-title">Leaf Spectator</div>#}
        <div class="menu-button-block">
            <a href="/" class="menu-button{% block current_main %}{% endblock %}">Главная</a>
            <a href="/" class="menu-button{% block current_upload %}{% endblock %}">Выгрузить фото</a>
            <a href="/" class="menu-button{% block current_auth %}{% endblock %}">Авторизация</a>
            <a href="/" class="menu-button{% block current_about %}{% endblock %}">О проекте</a>
            <a href="/" class="menu-button{% block current_contacts %}{% endblock %}">Контакты</a><br/>
        </div>
        <div class="main-title-block">
            <a href="/pattern" class="main-title">Leaf Spectator</a>
            <text class="main-title-info">Для тех, кто хочет найти растение</text>
        </div>
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
        <text style="font-size: 3em">Здравствуй, путник!</text>
    </div>
    </div>
    <footer>
        <div class="footer-block">
            <span>
                <a href="mailto:leafspectator@gmail.com" class="footer-link-style">Напишите нам!</a>
                <a href="#" class="footer-link-style">Мобильное приложение</a>
            </span>
            <text class="copyright">Mechanoid&copy; All rights reserved.</text>
        </div>
    </footer>

</body>
</html>