{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Mechanoid" />
    <meta name="description" content="Analyse and detect leaf of plants" />
    <meta name="keywords" content="Leaf, spectator, nature, plants"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://leafspec.com/" />
    <meta property="og:title" content="LeafSpectator" />
    <meta property="og:site_name" content="Leaf spectator" />
    <link rel="stylesheet" type="text/css" href="{% static '/new/style/main.css' %}"/>
    <link rel="shortcut icon" href="{% static '/new/style/image/favicon.png' %}" type="image/x-icon"/>
    <title>{% block pagename %}{% endblock %} - LeafSpectator</title>
</head>
<body>
    <div id="page-wrap">
    <header class="header-block">
{#        <div class="main-title">Leaf Spectator</div>#}
        <div class="menu-button-block">
            <a href="/pattern" class="main-title">Leaf Spectator</a>
            <span class="menu-button-right">
                <a href="/" class="menu-button">Главная</a>
                <a href="/" class="menu-button">Выгрузить фото</a>
                <a href="/" class="menu-button">Авторизация</a>
                <a href="/" class="menu-button">О проекте</a>
                <a href="/" class="menu-button">Контакты</a><br/>
            </span>
        </div>
    </header>
    <div class="content">
        Text1ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss ssssssssssssssssddddddddddddddddddddddddddddddddddddddddddddddddd dddddddddddddddddddssssssssssssssssssssssssssssssssssssssssssssssssssssss sssssssssssssssss<br/>
        Text1<br/>
        Text1<br/>
        Text1<br/>
        Text1<br/>
        Text1<br/>
        Text1<br/>
        Text1<br/>
        Text1<br/>
        Text1<br/>
        Text1<br/>
        Text1<br/>
        Text1<br/>
    </div>
    </div>
    <footer>
        <div id="trapezoid">Footer?Footer?Footer?Footer?Footer?Footer?Footer?Footer?Footer?Footer?Footer?Footer?Footer?Footer?Footer?Footer?Footer?Footer?</div>
    </footer>

</body>
</html>