@charset "UTF-8";

* {
    --first-gradient-color: #e7e7e7;
    margin: 0;
    padding: 0;
    outline: none;
}

html{
    height: 100%;
}
body {
    background-image: linear-gradient(var(--first-gradient-color), #dae2c3);
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    color: #030c00;
    font-size: 1em;
    font-family: Calibri, sans-serif;
    line-height: 110%;
}

/*header, footer {*/
/*    !*width: 100%;*!*/
/*    background-color: #fffceb;*/
/*}*/

header {
    padding-top: 1.3em;
    /*padding-bottom: 1.3em;*/
    width: 100%;
}

footer {
    width: 98%;
}

a {
    color: #213400;
}

a:hover {
    color: #091100;
    transition: 0.2s font-size, 0.5s color;
    font-size: 102%;
    text-decoration-line: none;
}

a:active {
        font-size: 98%;
        color: #0c0216;
}

::selection {
    background-color: rgba(93, 255, 0, 0.44);
    color: #1e1304;
}

image {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

#page-wrap:after{
    content: "";
    display: block;
}

footer, #page-wrap:after{
    /*height: 10px;*/
    height: 0;
}

#page-wrap{
    min-height: 94%;
    margin-bottom: -10px;
}

.header-block{

    /*text-align: center;*/
    /*background-image: url("image/vector.jpg");*/
    background-image: linear-gradient(
      rgba(0, 193, 43, 0.82), rgba(33, 160, 0, 0.65), var(--first-gradient-color)
    );
    background-size: 30%;
    /*background-attachment: fixed;*/
    background-position: center;
    /*background-color: #eeffda;*/
    margin: auto;
    border: 0;
    /*height: 70%;*/
}

.menu-button{
    font-size: 1.3em;
    font-family: Calibri, sans-serif;
    margin-left: 1.2em;
    /*margin-right: 0;*/
    text-decoration-line: none;
    font-weight: bolder;
    transition: 0.5s text-shadow, 0.5s font-size, 0.5s color;
}

.menu-button:hover{
    font-size: 1.3em;
    color: #010600;
    text-shadow: 0 0 15px rgba(49, 255, 0, 0.35);
    /*font-size: 2.01em;*/
}

.menu-button:active{
    /*margin-right: auto;*/
    text-align: right;
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(143, 255, 109, 0.77);
    /*font-size: 2.01em;*/
}

.menu-button-right{
    margin-top: 1.1em;
    margin-right: 2%;
    float: right;
}

.menu-button-block{
    padding-bottom: 1em;
}

/*.menu-button-block-links{*/
/*    margin-left: auto;*/
/*    margin-right: 0;*/
/*}*/

.main-title{
    font-size: 4em;
    font-family: "Forte", sans-serif;
    text-decoration-line: none;
    font-weight: 900;
    margin-left: 3%;
    margin-bottom: 0.1em;
    line-height: 90%;
    text-shadow: 5px 5px 30px #051600;
    transition: 1.0s text-shadow, 1.0s color;
}

.main-title:hover{
    font-size: 4em;
    text-shadow: 5px 5px 30px #ffffff;
    color: #0f0f0f;
}

.main-title:active{
    font-size: 3.8em;
    color: #363636;
}

#trapezoid{
	border-bottom: 50px solid #24ff31;
    /*border-width: 50px;*/
    /*border-style: solid;*/
    /*!*border-image: linear-gradient(#0c0216, #3E4349);*!*/
    /*border-color: #3E4349;*/
    /*background: linear-gradient(#0c0216, #ffffaa);*/

	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;

    /*border-bottom: 100px solid #87ff6c;*/
    /*border-left: 25px solid transparent;*/
    /*border-right: 25px solid transparent;*/
    /*height: 0;*/
    /*width: 100px;*/
    /*padding: -50px;*/
}

.content{
    /*padding-top: 1%;*/
    /*word-wrap: revert;*/
    word-wrap: break-word;
    /*white-space: normal;*/
    border-radius: 5% / 3em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    /*background: rgba(48, 38, 37, 0.79);*/
    background-image: linear-gradient(var(--first-gradient-color), #d8d8d8);
    width: 50%;
    min-height: 30em;
    /*height: 300%;*/
    margin-right: auto;
    margin-left: auto;
}










/*.background-main{*/
/*    !*background: url(images/bamboo3.jpg) no-repeat center center fixed;*!*/
/*    !*background-image: url(images/bamboo3.jpg);*!*/
/*    background: rgba(219, 255, 227, 0.27);*/
/*    !*background-repeat: no-repeat;*!*/
/*    !*background-position: top;*!*/
/*    !*background-attachment: fixed;*!*/
/*  !*-webkit-background-size: cover;*!*/
/*  !*-moz-background-size: cover;*!*/
/*  !*-o-background-size: cover;*!*/
/*    background-size: cover;*/
/*}*/