{% extends 'website/pattern.html' %}

{% block page_name %}
    Выгрузить фото
{% endblock %}
{% block current_upload %} imMnMnCurrent{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="H1">Вы можете отправить нам фото листка растения. </h1>
        <h2 class="H2">Если изображение будет соответствовать нашим требованиям, оно будет использовано для усовершенствования проекта.</h2>
        {% if error %}
            <div class="err">
                <p>{{ error }}</p>
            </div>
        {% else %}
            {% if message %}
                <div class="msg">
                    <p>{{ message }}</p>
                </div>
            {% endif %}
        {% endif %}
        <span class="upload-page">
            <text>Имя автора: </text><p class="upload-page-obj">{{ form.photo_author }}<br/></p>
            <text>Вид растения: </text><p class="upload-page-obj">{{ form.photo_group }}<br/></p>
            <p class="upload-page-obj">{{ form.photo_file }}</p>
            <button class="but-submit">Отправить</button>
        </span>
{#    <text class="info">Лист должен быть хорошо виден и освещён.<br/>Лист должен находится в центре изображения</text>#}
    <p class="info">Лист должен быть хорошо виден и освещён.<br/>Лист должен находится в центре изображения.</p>

    </form>
{% endblock %}